<!DOCTYPE html>
<html lang="ko">
  <head>
    {{>layout/include/head}}
	  <title>{{title}}</title>
  </head>
  <body class="{{#eq title 'Home'}}main-page {{/eq}}has-push-menu">
    {{>layout/include/svg-icons}}
    {{>layout/include/header}}
	    <section class="content">
		    {{>content}}
	    </section>
    {{>layout/include/footer}}
    {{>js}}
  </body>
</html>