<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>{{title}}</title>
    {{>layout/include/head}}
  </head>
  <body>
    {{#if header}}
      {{>layout/include/header}}
    {{/if}}
    {{>layout/include/nav}}
    {{>contents}}
    {{>layout/include/footer}}
    {{>js}}
  </body>
</html>