<!DOCTYPE html>
<html lang="ko" class="no-js">
  <head>
    {{>layout/include/head}}
  </head>
  <body class="{{#eq title 'Home'}}main-page {{/eq}}has-push-menu">
    {{>layout/include/svg-icons}}
    {{>layout/include/header}}
	    <section class="content">
		    {{>content}}
	    </section>
    {{>layout/include/footer}}
    <script>
	    if (window.netlifyIdentity) {
		    window.netlifyIdentity.on("init", function(user) {
			    if (!user) {
				    window.netlifyIdentity.on("login", function() {
					    document.location.href = "/admin/";
				    });
			    }
		    });
	    }
    </script>
    {{>js}}
  </body>
</html>