<!DOCTYPE html>
<html lang="ko">
  <head>
    {{>layout/include/head}}
	  <title>{{{title}}} {{#notEq title 'Devflix'}}| Devflix{{/notEq}}</title>
  </head>
  <body class="{{#if background-black}}main-page {{/if}}has-push-menu">
    {{>layout/include/svg-icons}}
    {{>layout/include/header}}
	    <section class="content">
		    {{>content}}
	    </section>
    {{>layout/include/footer}}
    {{>js}}
  </body>
</html>