{{#> layout/default title="Post"}}
  {{#*inline "content"}}
	  <div class="col-md-12 empty-div">
	  </div>
	  <div class="col-md-12 d-flex justify-content-center">
		  <div class="col-md-8">
			  <h1>Post</h1>
			  <table class="table table-hover">
				  <thead>
				  <tr>
					  <th scope="col" style="width: 65%">Title</th>
					  <th scope="col" style="width: 20%">Writer</th>
					  <th scope="col" style="width: 15%">Publish At</th>
				  </tr>
				  </thead>
				  <tbody>
				  <tr>
					  <td>Mark</td>
					  <td>Otto</td>
					  <td>2020.01.02</td>
				  </tr>
				  <tr>
					  <td>Thornton</td>
					  <td>@fat</td>
					  <td>2021/01/02</td>
				  </tr>
				  <tr>
					  <td>@mdo</td>
					  <td>@twitter</td>
					  <td>2020-01-02</td>
				  </tr>
				  </tbody>
			  </table>
			  <div class="d-flex justify-content-end button-box">
				  <a href="/post/write" class="btn btn-primary">글쓰기</a>
			  </div>
		  </div>
	  </div>
  {{/inline}}
  {{#*inline "js"}}
  {{/inline}}
{{/layout/default}}