{{#> layout/default title="게시판" }}
  {{#*inline "contents"}}
    <main class="m-5">
      <div class="container">
        <h1 class="mt-5 mb-3">게시판</h1>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </main>
  {{/inline}}
  {{#*inline "js"}}
  {{/inline}}
{{/layout/default}}