{{#> layout/default title="Post Write"}}
	{{#*inline "content"}}
		<div class="col-md-12 empty-div" xmlns="http://www.w3.org/1999/html">
		</div>
		<div class="col-md-12 d-flex justify-content-center">
			<div class="col-md-8">
				<h1>Post Write</h1>
				{{#if errorMessage}}
				<div class="alert alert-danger" role="alert">
					{{errorMessage}}
				</div>
				{{/if}}
				<form id="postForm" action="/post/write" method="post">
					<div class="form-row devflix-post">
						<div class="form-group col-md-12">
							<label for="title">Title</label>
							<input type="text" class="form-control" id="title" placeholder="Title" name="title">
						</div>
						<div class="form-group col-md-12">
							<label for="dev-search">Search Post</label><br>
							<div class="input-group input-group">
								<input type="text" class="form-control col-md-6" id="dev-search">
								<div class="input-group-prepend">
									<span class="input-group-text"><svg class="icon-search"><use xlink:href="#icon-search"></use></svg></span>
								</div>
							</div>
							<div class="alert alert-danger col-md-6" role="alert">
								최대 1개 Post만 선택 하실 수 있습니다.
							</div>
						</div>
						<div class="form-group col-md-12" id="search-dropdown">
							<ul class="list-group col-md-6" id ="search-list"></ul>
						</div>
						<div class="form-group col-md-12" id="result-list">
							<label for="title">Dev Post</label>
						</div>
						<div class="form-group col-md-12">
							<label for="content">Content</label>
							<textarea id="content" name="content"></textarea>
							<input type="hidden" name="path-base" value="" id="path-base">
						</div>
					</div>
					<input type="hidden" name="{{csrf_parameter}}" value="{{csrf_token}}">
					<div class="d-flex justify-content-end button-box">
						<button type="submit" class="btn btn-primary">저장</button>
						<a href="/post" class="btn btn-secondary">목록</a>
					</div>
				</form>
			</div>
		</div>
	{{/inline}}
	{{#*inline "js"}}
		<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
		<script src="/assets/libs/js/jquery.validate.min.js"></script>
		<script src="/assets/js/post-write.js"></script>
	{{/inline}}
{{/layout/default}}