{{#> layout/default title="Devflix Category" background-black=true description="Devflix category list page"}}
	{{#*inline "content"}}
		<main class="home no-padding" role="main">
			<div class="col-md-12 empty-div">
			</div>
			<h2 class="category-title"><a class="active" id="blog">Blog</a><span>|</span><a id="youtube">Youtube</a></h2>
			<section id="grid" class="row-main flex-grid">
			</section>
		</main>
	{{/inline}}
	{{#*inline "js"}}
		<script src="/assets/js/all-category.js"></script>
	{{/inline}}
{{/layout/default}}