{{#> layout/default title="Find Password"}}
	{{#*inline "content"}}
		<div class="post">
			<article class="post-content fullwidth">
				<div class="login-container">
					<div id="form" class="contact-form">
						<h1>Find Password</h1>
						{{#if errorMessage}}
						<div class="row">
							<div class="alert alert-danger col-md-12" role="alert">
								{{errorMessage}}
							</div>
						</div>
						{{/if}}
						<form id="find-password-form" method="post" action="/login/find-password" class="needs-validation">
							<div class="row">
								<div class="form-group col-md-12">
									<label for="email">Email</label>
									<input type="email" id="email" name="email" class="form-control" placeholder="Email">
								</div>
								<input type="hidden" name="{{csrf_parameter}}" value="{{csrf_token}}">
								<div class="form-group col-md-12">
									<button type="submit" class="btn btn-primary">Find Password</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</article>
		</div>
	{{/inline}}
	{{#*inline "js"}}
		<script src="/assets/libs/js/jquery.validate.min.js"></script>
		<script src="/assets/js/find-password.js"></script>
	{{/inline}}
{{/layout/default}}