{{#> layout/default title="Login"}}
	{{#*inline "content"}}
		<div class="post">
			<article class="post-content fullwidth">
				<style type="text/css" media="screen">
					.container {
						margin: 0px auto;
						max-width: 600px;
					}
				</style>
				<div class="container">
					<div id="form" class="contact-form">
						<h1>Login</h1>
						<form method="post" action="/login">
							<div class="form-group">
								<label for="username">Email</label>
								<input type="text" id="email" name="email" class="form-control" placeholder="Email">
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" id="password" name="password" class="form-control" placeholder="Password">
							</div>
							<button type="submit" class="btn btn-danger">Login</button>
						</form>
						<div class="row">
							<a class="col-sm" href="/login">Forgot Password?</a>
							<a class="col-sm" href="/login/join-us">Join Us</a>
						</div>
					</div>
				</div>
			</article>
		</div>
	{{/inline}}
	{{#*inline "js"}}
	{{/inline}}
{{/layout/default}}