{{#> layout/default title="New Password"}}
	{{#*inline "content"}}
		<div class="post">
			<article class="post-content fullwidth">
				<div class="login-container">
					<div id="form" class="contact-form">
						<h1>New Password</h1>
						{{#if errorMessage}}
						<div class="row">
							<div class="alert alert-danger col-md-12" role="alert">
								{{errorMessage}}
							</div>
						</div>
						{{/if}}
						<form id="new-password-form" method="post" action="/login/new-password/{{uuid}}" class="needs-validation">
							<div class="row">
								<div class="form-group col-md-12">
									<label for="password">New Password</label>
									<input type="password" id="password" name="password" class="form-control" placeholder="Password">
								</div>
								<div class="form-group col-md-12">
									<label for="password">Password Confirm</label>
									<input type="password" id="password-confirm" name="password-confirm" class="form-control" placeholder="Password Confirm">
								</div>
								<div class="form-group col-md-12">
									<button type="submit" class="btn btn-primary">Save</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</article>
		</div>
	{{/inline}}
	{{#*inline "js"}}
		<script src="/assets/libs/js/jquery.validate.min.js"></script>
		<script src="/assets/js/new-password.js"></script>
	{{/inline}}
{{/layout/default}}