<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>{{#eq nav 'dashboard'}}{{title}}{{else}}{{title}} | Devflix Admin{{/eq}}</title>
<link href="/assets/admin/css/styles.css" rel="stylesheet" />
<link href="/assets/libs/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>