<footer>
	<!--<p>
		<a href="https://github.com" title="Github">
			<svg><use xlink:href="#icon-github"></use></svg>
		</a>
		<a href="https://www.facebook.com" title="Facebook">
			<svg><use xlink:href="#icon-facebook"></use></svg>
		</a>
		<a href="https://twitter.com" title="Twitter">
			<svg><use xlink:href="#icon-twitter"></use></svg>
		</a>
		<a href="https://medium.com" title="Medium">
			<svg><use xlink:href="#icon-medium"></use></svg>
		</a>
		<a href="https://www.instagram.com" title="Instagram">
			<svg><use xlink:href="#icon-instagram"></use></svg>
		</a>
		<a href="https://www.linkedin.com/in" title="LinkedIn">
			<svg><use xlink:href="#icon-linkedin"></use></svg>
		</a>
	</p>-->
	<p>
		<span>Devflix</span> was made by <a href="https://github.com/jun7343" target="_blank" class="creator">Jun Yu</a>
	</p>
</footer>
<!-- Include the script that allows Netlify CMS login -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<!-- Include the website scripts -->
<script src="/assets/libs/js/scripts.min.js"></script>
<script src="/assets/js/search.js"></script>