<header class="bar-header">
	<a id="menu" role="button">
		<svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
	</a>
	<h1 class="logo">
		<a href="/">
			Devflix <span class="version">v1.0.0</span>
		</a>
	</h1>
	{{#if isAuthentication}}
		<div class="dropdown header-icon">
			<a id="profile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<img src="/assets/img/user.jpg" class="icon-profile">
			</a>
			<div class="dropdown-menu" aria-labelledby="profile">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
			</div>
		</div>
		<div class="dropdown header-icon">
			<a id="alert" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<svg class="icon-alert"><use xlink:href="#icon-alert"></use></svg>
				<span class="alert-dots"></span>
			</a>
			<div class="dropdown-menu" aria-labelledby="alert">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
			</div>
		</div>
	{{else}}
		<div class="header-icon">
			<a id="login" role="button" href="/login">
				<svg class="icon-login"><use xlink:href="#icon-login"></use></svg>
			</a>
		</div>
	{{/if}}
	<div class="header-icon">
		<a id="search" class="dosearch" role="button">
			<svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
		</a>
	</div>
</header>
<div id="mask" class="overlay"></div>
{{>layout/include/menu}}
{{>layout/include/search}}
